* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5FCFC;
  }
  
  /* Style the header */
  header {
    background-color: #53BEEC;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width:35%;
    height: 500px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
    margin-left:125px;
    text-align: center;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    padding-top:20px;
  }
  
  a:link {
    color: black;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 40%;
    background-color: #f1f1f1;
    height: 98%; /* only for demonstration, should be removed */
    margin-left:75px;
    border: 3px solid black;
  }
  
  button {
    float: center;
    padding: 0px;
    width: 40%;
    background-color: #f1f1f1;
    height: 100px; /* only for demonstration, should be removed */
    text-align: center;
  }
  
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }
  
  section2::after {
    content: "";
    display: table;
    clear: both;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  
  saveBtn {
    float: center;
    padding: 0px;
    width: 40%;
    background-color: #f1f1f1;
    height: 100px; /* only for demonstration, should be removed */
    text-align: center;
  }
   
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  .meeting-button {
    margin-left:125px;
  }

  .meeting-title {
    color:blue;
  }

  .calendar-button {
    margin:5px;
  }

  .calendar-title {
    color:red;
  }

  .to-do-list-title {
    font-size:25px;
  }

  .home-title {
    background-color:transparent;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
    border: transparent;
    text-decoration: none;
  }

  
  header h2 {
    text-decoration: none;
    font-size: 40px;
    color: white;
  }

  header a {
    text-decoration: none;
  }

  header h2:hover {
    font-size: 42px;
  }

  header p {
    color: white;
    font-size: 20px;
  }

  .sign-in-button {
    border: transparent;
    text-decoration: none;
    background-color: transparent;
  }

  header p:hover {
    font-size: 22px;
  }

