<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/home.css">
</head>
<body style="background-color: #E5FCFC;">


<header>
  <h2>Google Suite Manager Tool</h2>
</header>

<section2>
  <button style="margin-left:125px;"> <a href="home_GoogleMeet.html">
      <h1 style="color:blue;"> Google Meet </h1> </a>
  </button>
  <button style="margin:5px;"> <a href="home_GoogleCalendar.html">
      <h1 style="color:red;"> Google Calendar </h1> </a>
  </button>
</section2>

<section>
  <nav>
    <h1 style="font-size:25px;"> To Do List: </h1>
    <ul>
      <li><a href="#">London</a></li>
      <li><a href="#">Meeting w/ Prof</a></li>
      <li><a href="#">Coding HTML</a></li>
      <li><a href="#">Open Source HW#4</a></li>
      <li><a href="#">Team Meeting</a></li>
      <li><a href="#">Complete Forms</a></li>
      <li><a href="#">Leadership Assignment</a></li>
    </ul>
  </nav>
  

</section>

<footer>
  <p>Footer</p>
</footer>

</body>
</html>

