
<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/home.css">
</head>
<body>


<header>
  <h2>Google Suite Manager Tool</h2>
  <button class="sign-in-button"><a href="sign_in.html">
    <p>Sign In</p></a></button>
</header>

<section2>
  <button class="meeting-button"> <a href="home_GoogleMeet.html">
      <h1 class="meeting-title"> Google Meet </h1> </a>
  </button>
  <button class="calendar-button"> <a href="home_GoogleCalendar.html">
      <h1 class="calendar-title"> Google Calendar </h1> </a>
  </button>
</section2>

<section>
  <nav>
    <h1 class="to-do-list-title"> To Do List: </h1>
    <ul>
      <li><a href="#">London</a></li>
      <li><a href="#">Meeting w/ Prof</a></li>
      <li><a href="#">Coding HTML</a></li>
      <li><a href="#">Open Source HW#4</a></li>
      <li><a href="#">Team Meeting</a></li>
      <li><a href="#">Complete Forms</a></li>
      <li><a href="#">Leadership Assignment</a></li>
    </ul>
  </nav>


</section>

<footer>
  <p>Footer</p>
</footer>

</body>
</html>
